@import "Grid/grid";

@import "typeplate/typeplate";

@import "color";
@import "layout";
@import "main";
@import "slide";
@import "navigasi";
@import "logo";
@import "panel";
@import "footer";
@import "input";
@import "about";
@import "product";
@import "detail";
@import "tables";
@import "cart";

/*
.table {
	max-width: 960px;
}

.tabel {
	width: 98%;
	display: block;
	position: relative;
	margin: 1%;
}
*/
